AirHockeyWidget{
	/* Use bluetooth? */
	bluetooth: 1;
	/* Mallet impact vibration type */
	mallet-puck-vibration-type: 1;
	mallet-wall-vibration-type: 2;
	/* Goal scoring vibration type */
	scoring-vibration-type: 3;
	/* Sounds */
	scoring-sound-type: 3;
	puck-hit-sound-type: 1;
	wall-hit-sound-type: 2;
	victory-sound-type: 3;
	/* Score needed for victory */
	win-limit: 2;
}

TextBox {
	font-name: "DroidSans-Bold.ttf";
	font-size: 72px;
	foreground: #FFFFFF;
}

ScoreTextBox {
	font-name: "DroidSans-Bold.ttf";
	font-size: 36px;
	color: #DDDDDDFF;
	foreground: #0000FFFF;
}

StartButton {
	padding: 10px;
	font-name: "DroidSans-Bold.ttf";
	font-size: 18px;
	color: #00FF00FF;
	border-width: 3px;
	border-color: #000000FF;
	height: 70px;
	width: 100px;
	foreground: #000000FF;
}
