AirHockeyWidget{
	/* Use bluetooth? */
	bluetooth: 1;
	/* Mallet impact vibration type */
	mallet-puck-vibration-type: 1;
	mallet-wall-vibration-type: 2;
	/* Goal scoring vibration type */
	scoring-vibration-type: 3;
	/* Sounds */
	scoring-sound-type: 3;
	puck-hit-sound-type: 1;
	wall-hit-sound-type: 2;
	victory-sound-type: 3;
	/* Score needed for victory */
	win-limit: 5;
}

TextBox {
	font-name: "DroidSans-Bold.ttf";
	font-size: 72px;
	foreground: #FFFFFF;
}

